/*
 * Add rule for the wheel group to be allowed 
 * to use the runas command with password authentication.
 */
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units" 
        && subject.isInGroup("wheel")
        && action.lookup("arg0") == "--run0") {

            return polkit.Result.AUTH_SELF;
    }
    
    return polkit.Result.NOT_HANDLED;
});
